.teyvat{
    font-size: 80px;
    text-align: center;
    font-family: hy-wen-hei;
    font-weight: lighter;
    padding: 250px 0px 80px 0px;
    color: white;
}

.map-background {
    width: 100%;
    height: 800px;
    position: relative;
}

.map-background .details {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.map-background img{
    width: 100%;
    background-size: cover;
    filter: brightness(0.7);
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
}

pre{
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 1.7em;
    /* emang belum keliatan karena background masi ngasal */
}

.map-title{
    font-size: 50px;
    text-align: center;
    font-family: hy-wen-hei;
    color: white;
    margin: 0px 0px 40px 0px;
}

.map-background a{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.map-background a:hover{
    color:var(--light-yellow);
    scale: 1.2;
    transition-duration: 0.5s;
}