.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 50vh;
    background-color: black;
    padding: 30px 0px;
}

.footer img{
    width: 200px;
    align-items: center;
}

.pp{
    font-size: 14px;
    color: var(--light-grey);
    text-align: center;
    font-family: tahoma;
}

.logofooter{
    display: block;
    text-align: center;
}

.logofooter img {
    width: 150px;
}

.policy {
    text-align: center;
    display: flex;
    justify-content: center;
}
.policy a {
    margin: 0px 20px;
    font-family: tahoma;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.policy a:hover {
    opacity: 0.7;
}