.login-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(5px);
    transform: scale(1.2);
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    background-color: var(--white);
    margin-top: 35px;
}

.login-background {
    position: relative;
    width: 50%;
    height: 100vh;
}

.login-background .image-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.5);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title img {
    width: 200px;
    height: auto;
}

.title h1 {
    font-family: hy-wen-hei;
    font-size: 32px;
    color: var(--white);
    text-align: center;
    text-shadow: 0px 0px 30px black;
    margin: 30px 0px;
}

.container {
    width: 50%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img {
    width: 200px;
}

.forms {
    width: 350px;
    text-align: left;
    margin: 30px 0px;
}

.btn {
    width: 100%;
    padding: 15px 0px;
    margin: 20px 0px;
    background-color: var(--inazuma-purple);
    border: 1.5px solid var(--inazuma-purple);
    border-radius: 3px;
    color: var(--white);
    font-family: tahoma;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.btn:hover {
    background-color: var(--medium-blue);
    border: 1.5px solid var(--medium-blue);
}

.field {
    margin: 20px 0px;
}

.field h3 {
    font-family: tahoma;
    font-size: 18px;
    margin: 10px 0px;
    color: var(--medium-blue);
}

.field input {
    width: calc(100% - 40px);
    padding: 15px 20px;
    border-radius: 3px;
    border: 1.5px solid var(--light-grey);
    font-size: 16px;
    font-family: tahoma;
    color: rgb(50, 50, 50);
}

.field input:focus {
    border: 1px solid var(--inazuma-purple);
}

.others {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.others a {
    font-family: tahoma;
    font-size: 16px;
    text-decoration: none;
    color: var(--inazuma-purple);
    transition: 0.3s all ease-in-out;
}

.others a:hover {
    color: var(--medium-blue);
}

.error input {
    border: 2px solid red;
}