body{
   background-image: url(/Assets/homepage/home-page-background.webp);
}

.teyvat{
    font-size: 80px;
    text-align: center;
    font-family: hy-wen-hei;
    font-weight: lighter;
    margin: 60px 0px 50px 0px;
    color: white;
}

.map-background {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: -5px;
}

.map-background .details {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    text-align: center;
}

.map-background .details .logo-region {
    width: 100px;
    height: 100px;
    text-align: center;
    filter: brightness(1.2);
}

.map-background img{
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    z-index: -10;
    object-fit: cover;
}

pre{
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 1.7em;
}

.map-title{
    font-size: 50px;
    text-align: center;
    font-family: hy-wen-hei;
    color: white;
    margin: 0px 0px 40px 0px;
}

.map-background a{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.map-background a:hover{
    color:var(--light-yellow);
    font-size: 24px;
    transition-duration: 0.5s;
}