.register{
    position: relative;
    width: 100%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.register #background{
    position: absolute;
    width: 100%;
    min-height: 120vh;
    filter: blur(5px);
    scale: 1.2;
}

.register h1{
    position: absolute;
    font-family: hy-wen-hei;
    font-size: 50px;
    color: white;
    margin: 90px 0px 0px 43%;
}

.register .register-section{
    text-align: center;
    width: 80%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    margin: 180px 0px 0px 10%;
}

.register-container{
    position: relative;
    width: 50%;
    height: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: left; */
    background-image: url(/assets/inazuma/serpents-head.jpg);
    /* sementara doang backgroundnya tunggu masuk asset background nya baru masukin */
    overflow: hidden;
}

/* .register-container #nahida{
    position: absolute;
    height : 100%;
    bottom: 0px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
}

.register-container #venti{
    position: absolute;
    height : 100%;
    bottom: 0px;
    z-index: 3;
    left: 50%;
    transform: translateX(-25%);
}

.register-container #zhongli{
    position: absolute;
    height : 100%;
    bottom: 0px;
    z-index: 2;
    left: 50%;
    transform: translateX(-75%);
}

.register-container #raiden{
    position: absolute;
    height : 100%;
    bottom: 0px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
} */
