.register{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.register img{
    width: 100%;
    height: 100vh;
    filter: blur(5px);
    transform: scale(1.2);
}

.register h1{
    font-family: hy-wen-hei;
    font-size: 50px;
    color: white;
    text-align: center;
    transform: translateY(-500px);
}

.register-section{
    width: 80%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-top: -400px;
}
