.register{
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.register #background{
    position: absolute;
    width: 100%;
    height: 120vh;
    filter: blur(5px);
    scale: 1.2;
}

.register h1{
    position: absolute;
    font-family: hy-wen-hei;
    font-size: 50px;
    color: white;
    margin: 90px 0px 0px 43%;
}

.register .register-section{
    text-align: center;
    width: 80%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    margin: 180px 0px 0px 10%;
}

.register-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-image: url(/assets/inazuma/serpents-head.jpg);
    /* sementara doang backgroundnya tunggu masuk asset background nya baru masukin */
    overflow: hidden;
}

.register-container #nahida{
    position: relative;
    width: 100%;
    height : 70%;
    display: flex;
    translate: 0% 42%;
    z-index: 9;
}

.register-container #venti{
    position: relative;
    width: 100%;
    height : 80%;
    display: flex;
    translate: -110% 25%;
    z-index: 3;

}

.register-container #zhongli{
    position: relative;
    width: 100%;
    height : 80%;
    display: flex;
    translate: -170% 25%;
    z-index: 2;
}

.register-container #raiden{
    position: relative;
    width: 120%;
    height : 70%;
    display: flex;
    translate: -270% 0%;
    z-index: 1;
}
